.btn {
    border: 1px solid white;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 300;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    border-radius: 2px;
    color: black;
    background: #cccccc;
}
.btn:active {
    border: 1px solid black;
}