.imageStyle {
  width: 243 px;
  height: 128 px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.labelStyle {
  color: white;
  font-family: "Segoe UI";
  font-size: 16px;
}
@media (max-width: 767px){
  
}
