.imageStyle {
  width: 200px;
  height: 105px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.labelStyle {
  color: white;
  font-family: "Segoe UI";
  font-size: 15px;
  display: inline-block;
  margin-top:10px;
  margin-bottom: 10px;
  font-weight: 100;
  width: 200px;
  text-align: left;
}
@media (max-width: 767px){
  
}
